.carousel-cell {
    width: 36%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    border-radius: 5px;
    background-color: rgba(239, 248, 254, 1) ;
  }
  .imagem__carrossel{
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }
  .carousel__card{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .carousel__estrela{
    width: 200px;
  }

@media(max-width:900px){
  .carousel-cell{
    width: 76%;
  }
  .imagem__carrossel{
    width: 120px;
    height: 120px;
  }

}
  