.sobre{
    padding: 18px;
    background-color: #272727;
    width: auto;
    height: 450px;
    display: flex;
}
.sobre__image{
    height: 330px;
    width: 310px;
}

/* aside de informacoes*/
.sobre__informacao{
    width: 500vw;
}



/* aside de horarios*/
.sobre__horario{
    width: 1000vw;
    display: flex;
    gap: 24px;
}
.sobre__image{
    padding: 10px;
    border-radius: 20px;
}
.formulario{
    display: flex;
    gap: 24px;
}
